---
import HeroSection from "../components/HeroSection.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Eleven Viajes.">
  <main class="">
   <HeroSection/>
  </main>
</Layout>

<style></style>
