<footer class="rounded-lg w-auto shadow bg-yellow-500 m-4">
    <div class="max-w-screen-xl mx-auto p-4 md:py-8">
      <div class="sm:flex sm:items-center sm:justify-evenly">
        <!-- <Avatar/> -->
        <ul
          class="flex flex-wrap items-center gap-6 mb-6 text-sm font-medium text-azul sm:mb-0"
        >
        <li>
            <a class="hover:bg-red-" href="#">
            <div class="bg-gris rounded-lg p-2 text-xs hover:bg-red-500 hover:text-white">

                <!-- <Linkedin class="h-7 w-7 hover:scale-125 transition-all" /> -->
                <p>Denuncia contra agencia</p>
              </div>
            </a>
          </li>
          <li>
            <a  href="http://qr.afip.gob.ar/?qr=WkFKQpUG730DaQuy0JQ45A,," target="_F960AFIPInfo"><img class="h-14 w-10" src="http://www.afip.gob.ar/images/f960/DATAWEB.jpg"></a>
          </li>
        </ul>
      </div>
      <hr class="my-6 sm:mx-auto border-gray-700 lg:my-8" />
      <span class="block text-sm sm:text-center text-azul"
        >© 2024 <a href='#"' class="">Eleven™</a>. Ningun derecho reservado.</span
      >
    </div>
  </footer>