---

---

<nav
  id="header-nav"
  class="bg-yellow-500 py-2 sm:px-10 sm:pb-4 flex items-center fixed top-0 w-screen justify-evenly text-white z-60"
>
  <div class="pt-3 size-20">
    <img src="../../public/logoEleven.png" alt="Logo Eleven Viajes" />
  </div>

  <div class="hidden sm:flex flex-grow justify-center">
    <ul class="flex gap-10">
      <li class="hover:text-2xl max-h-1 hover:text-azul transition-all">
        <a href="#top">Agencia</a>
      </li>
      <li class="hover:text-2xl max-h-1 hover:text-azul transition-all">
        <a href="#trabajos">Trabajos</a>
      </li>
      <li class="hover:text-2xl max-h-1 hover:text-azul transition-all">
        <a href="#contacto">Contacto</a>
      </li>
      <li class="hover:text-2xl max-h-1 hover:text-azul transition-all">
        <a href="#top">Requisitos</a>
      </li>
    </ul>
  </div>

  <div class="sm:hidden">
    <button>
      <svg
        class="w-6 h-6 text-white"
        fill="none"
        stroke="currentColor"
        viewBox="0 0 24 24"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
          d="M4 6h16M4 12h16m-7 6h7"></path>
      </svg>
    </button>
  </div>
</nav>
